p{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    p{
        background-color: black;
         color:green;
     }
 }
 
 @media screen and (max-width: 480px) {
    p{
        background-color: black;
         color:red;
     }
 }
img{
    max-width: 500px;
    max-height:1000px
}
h1 {
    font-size: 60px;
    color: rgb(115, 26, 127);
    text-align: center;
    padding: 1rem 2rem;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
    background-image: -webkit-linear-gradient(left, #2441e7 0%, #fee140 100%);
    background-image: linear-gradient(to right, #2441e7 0%, #fee140 100%);

}

h2 {
    font-size: 35px;
    text-align: center;

}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ce1212;
    /*文字色*/
    background-color: rgb(154, 154, 154);
    border: solid 3px #6091d3;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
    width: border/2;
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    object-fit: cover;
    display: inline-block;
    min-height: 1px;
    min-width: 1px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.box3 {
    background-color: rgb(76, 188, 184);
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #e23313;
    /*文字色*/
    border: solid 3px #79b530;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
    width: border;
    border: 7px solid black;
    text-align: center;
    font-size: 30px;
    object-fit: cover;
    display: inline-block;
    min-height: 1px;
    min-width: 1px;
}
